<% content_for :title, t(:new_group) -%>

<div id="header">
	<div class="container">
		<h1><%= content_for :title %></h1>
	</div>
</div>

<div id="body">
	<div class="container">
		<div id="sidebar" class="span-6">
			<ul>
				<li><%= link_to t(:back), groups_url %></li>
			</ul>
		</div>
		<div class="span-18 last">
			<%= render 'form' %>
		</div>
	</div>
</div>
